<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.html') %>  
</head>
<body>
    
    <%- include('partials/navigation.html') %>
    
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/miami.png" class="img-responsive animate__animated animate__flipInY" alt="logo">
            </div>
        </header>
    </div>

    <!-- Section One-->
    <section>
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-md-6">
                    <i class="fa fa-youtube fa-10x"></i>
                </div>
                <div class="col-md-6">
                    <h3>The most relaxing place in the world</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ratione, ut ab enim in distinctio, neque praesentium ducimus ipsam velit quod cum porro perspiciatis quibusdam consequatur necessitatibus placeat quis qui?</p>
                </div>
            </div>

        </div>
    
        <%- include('partials/footer.html') %>
    
</body>
</html>